*{
    vertical-align: top;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background: url("../images/main-bg.jpg");
    min-height: 100%;
    position: relative;
}
img{
    border: none;
}
@font-face {
    font-family: 'calibriregular';
    src: url('../files/calibri/calibri-webfont.eot');
    src: url('../files/calibri/calibri-webfont.eot?#iefix') format('embedded-opentype'),
    url('../files/calibri/calibri-webfont.woff') format('woff'),
    url('../files/calibri/calibri-webfont.ttf') format('truetype'),
    url('../files/calibri/calibri-webfont.svg#calibriregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
p, a, dt, h3, h4, #date2012 {
    font-family: 'calibriregular', sans-serif;
}
#container, #footer, .user{
    margin: 0 auto;
    width: 900px;
}
#news-block:after{
    content: '';
    display: block;
    clear: both;
}
#user {
    border: solid 1px #b1b1b1;
    background: #1a1b1d;
    background-image: -webkit-linear-gradient(bottom, #000, #45494d);
    background-image: -moz-linear-gradient(bottom, #000, #45494d);
    background-image: -o-linear-gradient(bottom, #000, #45494d);
    background-image: linear-gradient(to top, #000, #45494d);
    width: 100%;
    height: 30px;
}
#user ul {
    float: right;
}
ul#user-menu {
    padding:3px 0;
    margin: 3px 0 0 0;
}
ul#user-menu li {
    display:inline;
    margin-left:10px;
}
ul#user-menu li:first-child a{
    border-right: 1px solid #ffffff;
    padding-right: 12px;
}
ul#user-menu li a {
    text-decoration:none;
    font-weight:bold;
    font-size: 14px;
    color: #fff;
}
ul#user-menu li a.active, ul#menu li a:hover {
    color:#211e1e;
}
ul#user-menu a:hover {
    text-decoration: underline;
    color: #ffffff;
}
#social {
    width: 50px;
    position: fixed;
    z-index: 101;
    top: 150px;
    right: 20px;
}
#social img {
    padding: 3px 0;
}
#logo{
    display: block;
    background: url("../images/logo.png") no-repeat;
    width: 299px;
    height: 128px;
    margin: 7px 0 -20px 20px;
}
#ddmenu {
    display: block;
    width: 900px;
    height: 30px;
    margin: 0 auto;
    background-color: #a2a2a2;
    border: solid 1px #fff;
    background-image: -webkit-linear-gradient(bottom, #252525, #5a5a5a);
    background-image: -moz-linear-gradient(bottom, #252525, #5a5a5a);
    background-image: -o-linear-gradient(bottom, #252525, #5a5a5a);
    background-image: linear-gradient(to top, #252525, #5a5a5a);
    border: 1px solid #ffffff;
    cursor: pointer;
    outline: none;
}
#ddmenu li { display: block;
    position: relative;
    float: left;
    font-size: 16px;
    padding: 0 5px;
}
#ddmenu li a {
    display: block;
    float: left;
    padding: 0 12px;
    line-height: 30px;
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#ddmenu li:hover > a {
    color: #f6ce49;
}
#ddmenu ul {
    position: absolute;
    top: 40px;
    width: 147px;
    background-color: #a2a2a2;
    background-image: -webkit-linear-gradient(bottom, #252525, #5a5a5a);
    background-image: -moz-linear-gradient(bottom, #252525, #5a5a5a);
    background-image: -o-linear-gradient(bottom, #252525, #5a5a5a);
    background-image: linear-gradient(to top, #252525, #5a5a5a);
    display: none;
    margin: 0;
    padding: 5px 0;
    list-style: none;
    -webkit-box-shadow: 2px 3px 8px rgba(0,0,0,.75);
    -moz-box-shadow: 2px 3px 8px rgba(0,0,0,.75);
    box-shadow: 2px 3px 8px rgba(0,0,0,.75);
    border: solid 1px rgba(126,123,123,.64);
    opacity: 0.95;
}
/**/
#ddmenu ul:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 20px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgb(76,76,76) transparent;
}
#ddmenu ul:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 16px;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1) transparent;
}
#ddmenu ul li {
    display: block;
    width: 100%;
    font-size: 0.9em;
}
#ddmenu ul li a {
    display: block;
    /*width: 100%;*/
    padding: 6px 7px;
    line-height: 1.4em;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#header {
    display: inline-block;
    background-color: #e7e7e7;
    -webkit-box-shadow: inset 0 0 0 1px #fff;
    -moz-box-shadow: inset 0 0 0 1px #fff;
    box-shadow: inset 0 0 0 1px #fff;
    border: solid 1px #e7e7e7;
}
#header-text {
    width: 48%;
    float: left;
    padding-left: 20px;
    margin: 0;
}
#header:after {
    display: block;
    content: url("../images/line.jpg");
    margin: 15px auto;
    position: relative;
    float: right;
    left: -49%;
}
#header-text h2 {
    font-family: 'avantgarde_bk_btbook', Arial, Helvetica, sans-serif;
    src: url('../files/avgardn/avgardn-webfont.eot');
    src: url('../files/avgardn/avgardn-webfont.eot?#iefix') format('embedded-opentype'),
    url('../files/avgardn/avgardn-webfont.woff') format('woff'),
    url('../files/avgardn/avgardn-webfont.ttf') format('truetype'),
    url('../files/avgardn/avgardn-webfont.svg#avantgarde_bk_btbook') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    color: #888;
    margin: 0;
    padding: 0;
}
#header-text p {
    font-size: 15px;
    color: #444;
    line-height: 20px;
}
#header-text, #header-carousel {
    height: 300px;
    margin: 30px 0;
}
#header-carousel{
    position: relative;
    margin: 0 auto;
    width: 280px;
}
#header-carousel #shuffle{
    height: 280px;
    margin: 40px 0 0 30px;
}
#header-carousel .img{
    border: 5px solid rgba(255,255,255,.8);
    display: block !important;
    overflow: hidden;
    position: absolute;
    display: block;
    margin: 0 0 0 40px;
    width: 331px;
    height: 223px;
    background-color: transparent !important;
}
#header-carousel .img:first-child{
    margin: 40px 0 0 0;
}
#header-carousel .img:nth-child(2){
    margin: 20px 0 0 20px;
}
#header-carousel #nav{
    text-align: center;
}
#header-carousel #nav a{
    display: inline-block;
    border: 1px solid #000;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    margin: 5px;
    width: 10px;
    height: 10px;
    text-indent: -9999px;
    background: #ccc;
}
#header-carousel #nav .activeSlide{
    background: #c44;
}
a.button7 {
    text-decoration: none;
    float: right;
    padding: 7px 25px;
    margin: 0 15px 15px 0;
    border-radius: 3px;
    background-color: #4096ee;
    box-shadow: 0 -3px #6495ED inset;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: 0.25s;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    display: block;
}
#header-text a {
    margin-top: 65px;
}
a.button7:hover {
    background: #6495ED;
    transition: all 0.2s linear;
}
#header-carousel {
    float: left;
    width: 49%;
    margin-left: 2px;
}
#carousel {
    position: relative;
}
#carousel img {
    overflow: hidden;
    cursor: pointer;
}
#club-menu {
    padding: 40px 0;
    margin-left: 20px;
}

.club {
    display: inline-table;
    width: 31%;
    position: relative;
    background: url("../images/btn1-bg.jpg");
    border-radius: 10px;
    margin: 0 5px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.club-green .club-blocks{
    margin: 10px 0px 0 0;
}
.club-blue {
    background-image: url("../images/btn2-bg.jpg");
}
.club-blue .club-blocks {
    margin: 23px 0 0 0;
}
.club-orange {
    background-image: url("../images/btn3-bg.jpg");
}
.club-orange .club-blocks {
    margin: 16px 5px 0 0;
}
.club .club-blocks {
    text-align: left;
    padding-left: 105px;
}
.club-blocks a {
    font-size: 19px;
    color: #ffffff;
    text-decoration: none;
}
.club img{
    float: left;
    position: relative;
    margin: -23px 0 -8px -10px;
    z-index: 1;
}
.club a {
    font-weight: bold;
}
.club p {
    font-size: 14px;
    /*font-weight: bold;*/
    color: #638400;
    margin-top: 3px;
}
.club-orange p{
    color: #b04100;
}
.club-blue p {
    color: #05478c;
}
.club:hover {
    background: #96c612;
}
.club-blue:hover {
    background: #1b72b2;
}
.club-orange:hover {
    background: #d65701;
}
#content {
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 42px;
    border: 1px solid #e2e1e1;
}
#date2012{
    position: relative;
    float: left;
    margin: 15px 0 0 -10px;
    font-size: 19px;
    padding: 5px 35px;
    border-radius: 4px 4px 4px 0;
    color: #fff;
    background: #202123;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45494d), color-stop(100%,#000000));
    background: -webkit-linear-gradient(top, #45494d 0%,#000000 100%);
    background: linear-gradient(to bottom, #45494d 0%,#000000 100%);
}
#date2012:before{
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 0 0 0 100%;
    background: #000;
}
#news {
    clear: both;
    border-bottom: 1px solid #e2e1e1;
    padding-top: 25px;
}
.blog {
    display: inline-table;
    width: 45%;
    padding: 0 11px 0 22px;
    margin: 0 0 50px 0;
    position: relative;
}
.blog img {
    float: left;
    border: 3px solid #696969;
    margin-right: 12px;
}
.blog h3 {
    overflow: hidden;
    font-size: 21px;
    color: #555;
    padding: 0 0 20px 0;
    margin: 0;
}
.blog p {
    padding: 0 0 5px 0;
    font-size: 15px;
    color: #555;
    margin: 0;
}
.blog a {
    display: block;
    left: 185px;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    padding-left: 5px;
    font-size: 14px;
    color: #4096ee;
}
.blog a:before {
    content: '';
    position: relative;
    left: 90px;
    padding-right: 15px;
    background: url("../images/home_13.png") no-repeat;
}
.blog a:hover {
    text-decoration: underline;
    color: #4096ee;
}
#news-block {
    margin-top: 42px;
}
.news-block {
    float: left;
    margin: 0 0 0 -1px;
    border-left: 1px solid #e2e1e1;
    width: 25%;
    background-repeat: no-repeat;
    background-position: 20px center;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 1s ease;
}
.news-block:first-child{
    margin-left: 0;
    border-left: none;
}
.news-block .text{
    padding: 5px 20px 5px 70px;
}
.news-block.news1{
    background-image: url(../images/videos.jpg);
}
.news-block.news2{
    background-image: url(../images/photos.jpg);
}
.news-block.news3{
    background-image: url(../images/rss.jpg);
}
.news-block.news4{
    background-image: url(../images/schools.jpg);
}
.news-block.news1:hover{
    background-image: url(../images/videos_hover.jpg);
}
.news-block.news2:hover{
    background-image: url(../images/photos_hover.jpg);
}
.news-block.news3:hover{
    background-image: url(../images/rss_hover.jpg);
}
.news-block.news4:hover{
    background-image: url(../images/schools_hover.jpg);
}
.news-block a{
    float: left;
    padding: 5px 5px 5px 0;
    font-size: 16px;
    color: #343434;
    text-decoration: none;
}
.news-block a:hover {
    float: left;
    padding: 5px 5px 5px 0;
    color: #4096ee;
}
.news-block h4 {
    margin: 0;
    overflow: hidden;
}
.news-block p {
    margin: 0;
    font-size: 14px;
    color: #343434;
}
footer {
    display: block;
    bottom: 1px;
    background: #404041;
    background-image: -webkit-linear-gradient(bottom, #000, #45494d);
    background-image: -moz-linear-gradient(bottom, #000, #45494d);
    background-image: -o-linear-gradient(bottom, #000, #45494d);
    background-image: linear-gradient(to top, #000, #45494d);
}
#footer {
    width: 900px;
}
#footer dl, #rights {
    display: inline-table;
    width: 200px;
    padding: 0 10px;
}
#footer dt {
    font-size: 18px;
    color: #faed75;
    border-bottom: 1px solid #696969;
    padding: 7px 0 5px 0;
    margin-bottom: 5px;
}
#footer dd {
    margin: 0;
    padding: 3px 0;
}
#footer a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}
#rights p{
    font-size: 15px;
    color: #fff;
    padding: 10px 0 0 12px;
    margin-bottom: 10px;
}
#rights img {
    float: left;
    padding: 0 14px;
}
#rights h4 {
    font-size: 19px;
    color: #d4d4d4;
    padding-top: 20px;
}
.inform {
    width: 100%;
}
.tbl {
    background-color: #ffffff;
    padding: 20px 20px 100px 20px;
}
#tbl {
    display: table;
    width: 100%;
    height: 530px;
    text-align: center;
}
.tbl h3 {
    font-size: 25px;
    color: #000;
    padding: 20px 0;
}
.tbl p {
    font-size: 16px;
    color: #000;
    padding-bottom: 50px;
}
#tbl .column {
    display: inline-table;
    width: 210px;
    position: relative;
}
#tbl .tbl-info-left .main-line {
    -moz-border-radius: 10px 0 0 0; /* Firefox */
    -webkit-border-radius: 10px 0 0 0; /* Safari, Chrome */
    -khtml-border-radius: 10px 0 0 0; /* KHTML */
    border-radius: 10px 0 0 0; /* CSS3 */
}
#tbl .tbl-info-left {
    background-image: -webkit-linear-gradient(left, rgba(138,138,138,0), #000);
    background-image: -moz-linear-gradient(left, rgba(138,138,138,0), #000);
    background-image: -o-linear-gradient(left, rgba(138,138,138,0), #000);
    background-image: linear-gradient(to right, rgba(138,138,138,0), #000);
}
#tbl .tbl-info-right .main-line {
    -moz-border-radius: 0 10px 0 0; /* Firefox */
    -webkit-border-radius: 0 10px 0 0; /* Safari, Chrome */
    -khtml-border-radius: 0 10px 0 0; /* KHTML */
    border-radius: 0 10px 0 0; /* CSS3 */
}
#tbl .main-left, #tbl .column {
    background: url("../images/bg-gray.jpg");
    -moz-border-radius: 10px 10px 0 0; /* Firefox */
    -webkit-border-radius: 10px 10px 0 0; /* Safari, Chrome */
    -khtml-border-radius: 10px 10px 0 0; /* KHTML */
    border-radius: 10px 10px 0 0; /* CSS3 */
}
#tbl .child-left {
    background: #cbcbcb;
}
#tbl .child-left img {
    margin-top: -30px;
}
.main-line {
    margin: auto 0;
    height: 70px;
    background: url("../images/bg-blue.jpg");
}
.main-line p {
    vertical-align: middle;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    padding-top: 5px;
}
.price{
    font-size: 35px;
    padding: 0 5px;
}
.mo {
    vertical-align: -15px;
}
.line {
    position: relative;
    height: 45px;
    color: #696969;
    border: 1px solid #ffffff;
    background: #e0e0e0;
}
.child-left .line {
    border: 1px solid #A9A9A9;
}
.bottom-line {
    height: 45px;
    padding-top: 30px;
}
.line p {
    margin-top: 13px;
}
.yes {
    content: '';
    background: url("../images/yes.png") no-repeat;
    display: table;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}
.no {
    content: '';
    background: url("../images/no.png") no-repeat;
    display: table;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}
.line a {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    padding: 7px 20px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    background-color: #797979;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.3);
    box-shadow: 0 2px 3px rgba(0,0,0,.3);
    background-image: -webkit-linear-gradient(top, #696969, #383838);
    background-image: -moz-linear-gradient(top, #696969, #383838);
    background-image: -o-linear-gradient(top, #696969, #383838);
    background-image: linear-gradient(to bottom, #696969, #383838);
}
#tbl .gold:hover {
    z-index: 2;
    margin: -15px -5px -5px 0;
    width: 215px;
    height: 494px;
    -webkit-border-radius: 6px 5px 5px 6px/5px;
    -moz-border-radius: 6px 5px 5px 6px/5px;
    border-radius: 6px 5px 5px 6px/5px;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.35);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.35);
    box-shadow: 0 5px 10px rgba(0,0,0,.35);
}
#tbl .gold:hover .main-line{
    z-index: 2;
    background-image: url("../images/bg-green.png");
    height: 97px;
    width: 216px;
    margin-top: -10px;
    -moz-border-radius: 10px 10px 0 0; /* Firefox */
    -webkit-border-radius: 7px 7px 0 0; /* Safari, Chrome */
    -khtml-border-radius: 7px 7px 0 0; /* KHTML */
    border-radius: 7px 7px 0 0; /* CSS3 */
    -webkit-transition: 0.14s;
    -moz-transition: 0.04s;
    -ms-transition: 0.04s;
    -o-transition: 0.04s;
    transition: 0.04s;
}
#tbl .gold:hover .main-line p{
    font-size: 24px;
}
#tbl .gold:hover .line {
    z-index: 2;
    font-size: 20px;
    width: 214px;
    background: #F5F5F5;
}
#tbl .gold:hover .bottom-line a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    padding: 7px 20px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    background-color: #797979;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.3);
    box-shadow: 0 2px 3px rgba(0,0,0,.3);
    background-image: -webkit-linear-gradient(top, #fd4124, #a2281d);
    background-image: -moz-linear-gradient(top, #fd4124, #a2281d);
    background-image: -o-linear-gradient(top, #fd4124, #a2281d);
    background-image: linear-gradient(to bottom, #fd4124, #a2281d);
}