#inline {
    display: none;
    background: #a6ce39;
    width: 260px;
    text-align: center;
    font-family: Calibri, sans-serif;
    color: #52220e
}
#inline p {
    font-size: 20px;
    color: #52220e;
    padding: 15px 10px;
}
input {
    position: inherit;
    display: block;
    color: #646464;
    font-size: 0.9em;
    /*position: relative;*/
    height: 30px;
    width: 190px;
    background: #f6faec;
    padding: 0 10px;
    border: 1px solid #f6faec;
}
input.error { border-color: #973d3d; border-style: solid; background: #f0bebe; color: #a35959; }
input.error:focus{ border-color: #973d3d; color: #a35959; }

