* {
    padding: 0;
    margin: 0;
}

/*@font-face {
    font-family: 'robotoregular';
    src: url('../files/roboto/Roboto-Regular-webfont.eot');
    src: url('../files/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../files/roboto/Roboto-Regular-webfont.woff') format('woff'),
    url('../files/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
    url('../files/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
#contacts, #block-video, .page {
    font-family: Calibri, sans-serif;
    color: #52220e;
}
#contacts {
    background: url("../img/poloska.jpg") repeat-x;
    margin-bottom: 35px;
    height: 60px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.5);
}
#contacts p {
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    color: #ffffff;
    padding-top: 2px;
}
#logo1 {
    float: left;
    background: url("../img/logo_header.png") no-repeat;
    margin-top: 5px;
    width: 112px;
    height: 50px;    
}
#logo2 {
    position: relative;
    float: right;
    background: url("../img/logo-fitness.png") no-repeat;
    width: 135px;
    height: 60px;
}
#contacts #telephone{
    font-size: 24px;
    font-weight: bolder;
}
.page {
    max-width: 960px;
    min-width: 940px;
    margin: 0 auto;
}
#chief, #block-video, #reviews {
    text-align: center;
}
#chief h1+span {
    font-size: 30px;
}
span.bold {
    font-weight: bolder;
}
.uptext {
    text-transform: uppercase;
}
.line {
    border-bottom: 5px solid #ffc600;
}
#chief {
    background: url("../img/fitnes.png") no-repeat;
    background-position: center 160px;
    height: 600px;
}
#chief h1, h3 {
    text-align: center;
    font-weight: normal;
}
#chief h3 {
    font-size: 24px;
    margin: 24px 0 60px 0;
}
.nav {
    position: relative;
    float: left;
}
.nav p {
    background: #a6ce39;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 1px 7px;
    margin-bottom: 10px;
}
.nav li {
    list-style-type: none;
    text-align: left;
    font-size: 18px;
    font-weight: bolder;
    padding: 2px 0 2px 0px;
}
.nav li:before {
    content: '';
    background: url("../img/kubik_malenkiy.png") no-repeat;
    float: left;
    display: block;
    position: relative;
    z-index: -1;
    width: 7px;
    height: 7px;
    margin-top: 8px;
    padding-right: 10px;
}
.sendform {
    position: relative;
    float: right;
    clear: right;
    width: 290px;
    background: #a6ce39;
}
#chief #img-bg{
    content: '';
    display: block;
    position: relative;
    float: right;
    clear: none;
    background: url("../img/line.png") no-repeat;
    width: 155px;
    height: 98px;
    margin: -120px 120px 0 0;
}
.sendform p {
    font-size: 20px;
    color: #52220e;
    padding: 15px 15px 10px 15px;
}
.input {
    position:relative;
    display: block;
    background:#fff;
    margin: 10px 22px;
    padding: 0 0 0 0;
    width: 240px;
    font-size: 18px;
    border-radius:4px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-border-radius:4px;
}
.input:before{
    content: "";
    position: absolute;
    background: url("../img/shadow.png")no-repeat;
    left: 0;
    bottom: 0;
    margin-bottom: -10px;
    width: 70px;
    height: 10px;
}
.sendform input {
    height: 32px;
    width: 220px;
    padding: 0 10px;
}
#block-video {
    background: #a6ce39;
    background-image: url("../img/sports-symbols-md2.png");
    padding-bottom: 15px;
}
#block-video h3, p {
    font-weight: normal;
    color: #333333;
}
#block-video h3 {
    font-size: 38px;
    padding: 25px 0;
}
#block-video p{
    font-size: 20px;
    padding: 20px 0;
}
#reviews {
    background-color: #faf7f1;
    border: 1px solid #a6ce39;
}
#reviews h2 {
    padding: 30px 0 120px 0;
    font-size: 32px;
    font-weight: normal;
}
.wrapper a {
    text-decoration: none;
    color: #ffffff;
    background: #ffc600;
    border: 1px solid #ffc600;
    width: 220px;
    padding: 10px 35px;
    margin: 15px 0 17px 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.5);
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.user {
    display: inline-flex;
    position: relative;
    width: 300px;
    height: 350px;
    margin: 0 7px 30px 7px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.7);
    -moz-box-shadow: 0 1px 8px rgba(0,0,0,.7);
    box-shadow: 0 1px 8px rgba(0,0,0,.7);
}
#user-photo1, #user-photo2, #user-photo3 {
    position: relative;
    height: 180px;
    width: 180px;
    top: -90px;
    left: 21%;
    display: block;
    border: 1px solid #FDF5E6;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    border-radius: 180px;
    /*-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);*/
    /*-webkit-box-shadow: 6px 6px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    6px 6px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         6px 6px 8px 0px rgba(50, 50, 50, 0.75);*/

    /*-webkit-box-shadow: 0px 1px 8px 0px rgba(50, 50, 50, 0.7);
    -moz-box-shadow:    0px 1px 8px 0px rgba(50, 50, 50, 0.7);
    box-shadow:         0px 1px 8px 0px rgba(50, 50, 50, 0.7);*/
    /*background: #FDF5E6;*/
    background: #ffffff;
    z-index: 1;

}
.user #user-photo1:before, .user #user-photo2:before, .user #user-photo3:before {
    content: '';
    display: block;
    width: 160px;
    height: 160px;
    margin: 10px;
    border-radius: 50%;
    background: #ffffff;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 6px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 6px 8px 0px rgba(50, 50, 50, 0.75);
    /*-webkit-box-shadow: 0px 1px 20px 0px rgba(50, 50, 50, 0.8);
    -moz-box-shadow:    0px 1px 20px 0px rgba(50, 50, 50, 0.8);
    box-shadow:         0px 1px 20px 0px rgba(50, 50, 50, 0.8);*/
    z-index: 1;
}
.user h4 {
    position: inherit;
    display: block;
    top: 100px;
    margin-left: -120px;
    /*margin: 100px 0 0 -140px;*/
    font-size: 14px;
    /*border: 1px solid red;*/
}
.user h4:before {
    content: '';
    background: url("../img/kubik_commens.png") no-repeat;
    float: left;
    display: block;
    position: relative;
    width: 11px;
    height: 11px;
    margin-top: 4px;
    padding-right: 9px;
}
.user p {
    position: absolute;
    display: block;
    top: 110px;
    left: 0;
    margin: 20px 10px;
    float: left;
    font-size: 14px;
    text-align: left;
    font-style: italic;
    color: #52220e;
    padding: 0 5px;
    /*position: ;
    display:inline;
    top: 110px;
    left: 0;
    /*margin: 20px 10px;
    float: left;*/
    /*font-size: 14px;
    text-align: left;
    font-style: italic;*/
}
.btn {
    background: #ffc600;
    border: 1px solid #ffc600;
    width: 220px;
    padding: 10px 0;
    margin: 15px 0 17px 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.5);
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.btn:hover{
    background: #ffd02b;
}
#bottom {
    background: #a6ce39;
    background-image: url("../img/logo_footer.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
}