html{
    margin: auto;
    background: url("../img/header.jpg") no-repeat;
    width: 1200px;
}
body{    
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}
#conteiner{
    height: 100%;
    display: block;
}
#header{
    text-align: center;
    padding: 20px 20px 0px 20px;
}

#search{
    /*background: url(../img/search.jpg) no-repeat;*/
}
#globe{
    /*background: url(../img/globe.jpg) no-repeat;*/
}
#e-logo a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}
#e-logo-img{
    position: relative;
    bottom: -15px;
}
#e-logo,#e-logo-img,#magento-service,#my-account,#search,#globe{
    display: inline-block;
}
#magento-service .magento-menu,#my-account .my-assount-menu, #my-account #my-assount-menu-nth2 {
    display: inline;
}
#magento-service{
    border: 1px solid #C0C0C0;
    padding: 3px 15px;
    margin: 0px 15px;
    border-radius: 30px;
    background: rgb(125,126,125); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

}

.magento-menu a{
    margin: 0px 4px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

#my-account{
    border: 1px solid #696969;
    border-radius: 25px;
    background-color: white;
    width: 270px;
    height: 22px;
    margin-top: 10px;
}
#my-account .my-assount-menu, #my-assount-menu-nth2 {
    padding: 2px 4px;
}
#my-account .my-assount-menu:hover {
    /*border-radius: 25px;*/
   /* background-color: red;*/
}

#my-account a {
    color: #696969;
    font-size: 11px;
}
#my-account img{
    padding: 0 5px;
}
#my-assount-menu-nth2 {
    border-left: 1px solid #696969;
    border-right: 1px solid #696969;
}
#my-assount-menu-nth2:hover{
    /*background-color: red;*/
}

#home span {
    background-color: #696969;
    color: white;
    font-size: 12px;
    padding: 4px 20px;
    margin-top: 30px;
}

.goods a{
    color: #696969;
}
.goods img{
    float: left;
    border: 1px solid black;
    margin-right: 12px;
    clear: none;
    height: 50px;
}
.goods form {
    margin: 0px 10px 10px 0px;
    border-top: 1px solid #A9A9A9;
    padding-top: 10px;
}
.goods form:last-child {
    padding: 15px 0px 30px 0px;
}
.goods h5 {
    padding-bottom: 5px;
}
.goods-select{
    text-align: left;
}
.goods ul li {
    display: inline;
    font-size: 11px;
    color: #808080;
    border-bottom: 1px solid #808080;
    margin-right: 5px;
}
.goods ul {
    padding: 10px 0px;
    margin: 0px;

}
.goods li:first-child{

}
/*.btn-plus{*/
.goods ul li:first-child{
    border: 1px solid black;
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px 5px 5px 15px;
    border-radius: 5px;
    /*background-color: #C0C0C0;*/
    background: rgb(226,226,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 68%, rgba(209,209,209,1) 100%, rgba(254,254,254,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(68%,rgba(219,219,219,1)), color-stop(100%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 68%,rgba(209,209,209,1) 100%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 68%,rgba(209,209,209,1) 100%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 68%,rgba(209,209,209,1) 100%,rgba(254,254,254,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 68%,rgba(209,209,209,1) 100%,rgba(254,254,254,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

}
.goods li:first-child a{
    /*background: url(../img/plus.jpg) no-repeat;*/
}


.goods p, .goods span, .product-name p {
    font-size: 12px;
    margin: 0px;
}
.goods select {
    width: 80px;
    margin-left: 8px;
}
.goods input{
    width: 35px;
    margin-left: 11px;
}

.goods-select p{
    padding-bottom: 1px;
}
#delivery .delivery-text {
    text-transform: uppercase;
    font-size: 13px;
}
.delivery-select{
    float: right;
    width: 100px;
    margin-right: 40%;
    padding: 0px;
}
.delivery-field{
    float: right;
    width: 95px;
    margin-right: 40%;
    padding: 0px;
}
#delivery {
    clear: both;
}

.suggested-text {
    font-size: 12px;
    margin: 0px;
    padding: 0px 0px 15px 0px;
}
#home{
    padding: 30px 0px;
}
#home, #left-list{
    padding-left: 12%;
}

#left-list{
    width: 25%;
    float: left;
    position: relative;
}
#right-list{
    margin-right: 10%;
    float: right;
    width: 52%;
    display: block;
    position: relative;
    margin-bottom: 70px;
}
#suggested, #your-card, #delivery {
    margin: 15px 0px;
}
#suggested #delivery {
    border-top: 1px solid #808080;
    margin-right: 15px;
}
#suggested+form{
    border: 1px solid red;
}
table{
    border-collapse: collapse;
}

#your-card-table{
    border: 1px solid #C0C0C0;
    background: rgb(226,226,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 68%, rgba(209,209,209,1) 100%, rgba(254,254,254,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(68%,rgba(219,219,219,1)), color-stop(100%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 68%,rgba(209,209,209,1) 100%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 68%,rgba(209,209,209,1) 100%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 68%,rgba(209,209,209,1) 100%,rgba(254,254,254,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 68%,rgba(209,209,209,1) 100%,rgba(254,254,254,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

}
th {
    text-align: left;
    text-transform: uppercase;
    font-size: 13px;
    color: #696969;
    padding: 5px;
}

table td{
    border-bottom: 1px solid #808080;
}
td{
    vertical-align: top;
    padding-top: 20px;
}

.colorway {
    width: 180px;
}
.product-name{
    width: 35%;
}

.product-content {
    padding-bottom: 15px;
    color: #808080;
}
.product-name span{
    font-weight: bold ;
}
.product-name p {
    margin: 10px 0;
}

.your-card-subtotal{
    color: red;
    width: 13%;
}
.qty {
    width: 35px;
    margin-right: 10px;
}

.division {
    background-color: #696969;
    padding: 2px 5px;
    color: white;
    text-transform: uppercase;
}
span .division {
    margin-bottom: 10px;
}
.apply p{
    font-size: 12px;
    margin-bottom: 10px;
}
.apply {
    position: relative;
    margin-top: 20px;
}
.apply input {
    width: 250px;
    height: 25px;
    margin-right: 10px;
}

#discount-table {
    width: 150px;
    float: right;
    position: relative;
    bottom: 10px;
}

#discount-table dl dt{
    float: left;
    margin-right: 10px;
    padding: 5px;
    width: 90px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #808080;
}
#discount-table dl {
    margin: 0;
}
#discount-table dl dd {

    padding: 5px 0;
    font-weight: bold;
}


.btn {
    border: 1px solid black;
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px 10px;

    border-radius: 5px;
    /*background: #C0C0C0;*/
    background: rgb(226,226,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 68%, rgba(209,209,209,1) 100%, rgba(254,254,254,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(68%,rgba(219,219,219,1)), color-stop(100%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 68%,rgba(209,209,209,1) 100%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 68%,rgba(209,209,209,1) 100%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 68%,rgba(209,209,209,1) 100%,rgba(254,254,254,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 68%,rgba(209,209,209,1) 100%,rgba(254,254,254,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

}
.discount-text {
    display: inline;
}
#discount {
    border-bottom: 1px solid #A9A9A9;
    padding-bottom: 20px;
}

#btn-group ul li {
    display: inline;
    padding: 5px 0px 5px 10px;
    border-radius: 10px 0 0 10px;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 20px;
    background: #A9A9A9;
}
#btn-group ul {
    padding-left: 15px;
}
#btn-group a {
    color: white;
}
#btn-group li:last-child{
    background: #FF00FF;
}
#btn-group img {
    margin-bottom: -8px;
}
#footer {

    height: 200px;
    width: 100%;
    clear: both;
    margin-top: 100px;
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 13%, rgba(0,0,0,1) 20%, rgba(136,136,136,1) 46%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(13%,rgba(0,0,0,1)), color-stop(20%,rgba(0,0,0,1)), color-stop(46%,rgba(136,136,136,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 13%,rgba(0,0,0,1) 20%,rgba(136,136,136,1) 46%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,1) 13%,rgba(0,0,0,1) 20%,rgba(136,136,136,1) 46%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,1) 13%,rgba(0,0,0,1) 20%,rgba(136,136,136,1) 46%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 13%,rgba(0,0,0,1) 20%,rgba(136,136,136,1) 46%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#888888',GradientType=0 ); /* IE6-9 */
}
#footer #footer-logo {
    position: absolute;
    margin-top: -10px;
    background: #A9A9A9;
    color: white;
    text-transform: uppercase;
}
#footer-logo {
    margin-left: 600px;
    width: 160px;
}
#footer #footer-menu {
    padding-left: 20%;
}
#footer dl {
    display: block;
    float: left;
    width: 15%;
    padding: 15px 60px;

}
#footer dl:first-child{

}
#footer dt {
    padding: 10px 0px 10px 5px;
    color: white;
}
#footer dd {
    margin: 0;
}
#footer dl:first-child{
    margin-left: 12%;
}
#footer dl dt {
    text-transform: uppercase;
}
#footer dl dd {
    margin-bottom: 5px;
    font-size: 12px;
}
#footer a {
    color: white;
    border-bottom: 1px solid #C0C0C0;
}

h4, h5 {
    text-transform: uppercase;
}
h4 {
    border-left: 5px solid red;
    padding-left: 5px;
    margin: 0px;
}
h5{
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
}